@model BTCK_LTC_.Models.Post

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
   /* increase height of ckeditor*/
    .ck-editor__editable_inline {
        min-height: 300px;
        min-weight: 500px;
    }
</style>

<h1>Thêm mới</h1>

<h4>Bài Đăng</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateThongBao" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" id="Content"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumbnail" class="control-label"></label>
                <input type="file" name="ThumbnailFile" class="form-control" />
                <span asp-validation-for="Thumbnail" class="text-danger"></span>
            </div>

                <input type="hidden" asp-for="Date" class="form-control" readonly/>
                
            <div class="form-group">
                <label asp-for="PostDate" class="control-label"></label>
                <input asp-for="PostDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" class="form-control" readonly/>
                <span asp-validation-for="PostDate" class="text-danger"></span>
            </div>

            <input type="hidden" value="@ViewBag.EmployeeId" asp-for="EmployeeId" class="form-control" readonly/>

            <input type="hidden" value="@ViewBag.CategoryId" asp-for="CategoryId" class="form-control" readonly/>

            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-outline-info" style="margin:5px 0px 0px 0px" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay trở lại</a>
</div>

@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            // ckeditor 5 initialization
            ClassicEditor
                    .create(document.getElementById('Content'))
                .then(editor => {
                    console.log(editor);
                })
                .catch(error => {
                    console.error(error);
                });
        });
    </script>
}
